.env
.envrc
.venv
env/
venv/
ENV/

__pycache__/
*.py[codz]
*$py.class
*.pyc
*.so

build/
dist/
*.egg-info/
*.egg
MANIFEST

*.png
*.csv

.DS_Store
.idea/
.vscode/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

.ipynb_checkpoints
